body {
    margin: 0 ;
    background-image: url(images/Shadow\ mirrors\ background.jpg);
    background-position: right;
}

header {
    background-color: #696969;
    height: 60px;
    display: flex;
    justify-content: center;
    color: white;
}

#howtomove {
    position: absolute;
    background-color: #696969;
    padding-left: 30px;
    margin: 28px 0;
    width: 280px;
    height: 700px;
    border: 4px dashed silver;
    text-align: left;
    color: white;
}

#mirrorhall {
    z-index: 1;
    margin: 2% 20%;
}

#mirrorportal {
    position: absolute;
    top: 225px;
    margin: 2% 42%;
    z-index: 2;
}

#goback {
    position: absolute;
    top: 735px;
    margin: -1% 51.6%;
    z-index: 3;
    background-color: violet;
}

#goback:hover {
    background-color: #800080;
    color: aqua;
}

#gotomirror {
    position: absolute;
    top: 720px;
    margin: -1% 52%;
    z-index: 3;
    background-color: violet;
}

#gotomirror:hover {
    background-color: #800080;
    color: aqua;
}
