body {
    margin: 0 ;
    background-image: url(images/Shadow\ mirrors\ background.jpg);
    background-position: right;
}

header {
    background-color: #696969;
    display: flex;
    justify-content: center;
    color: white;
}

#howtomove {
    position: absolute;
    background-color: #696969;
    padding-left: 30px;
    margin: 28px 0;
    width: calc(50% - 515px);
    height: calc(100% - 90px);
    border: 4px dashed silver;
    text-align: left;
    font-size: large;
    color: white;
}

#mirrorhall {
    z-index: 1;
    margin: 2% 20%;
}

#mirrorportal {
    position: absolute;
    top: 225px;
    margin: 2% 42%;
    z-index: 2;
}

#goback {
    position: absolute;
    top: 735px;
    margin: -1% 51.6%;
    z-index: 3;
    background-color: violet;
}

#goback:hover {
    background-color: #800080;
    color: aqua;
}

#gotomirror {
    position: absolute;
    top: 720px;
    margin: -1% 52%;
    z-index: 3;
    background-color: violet;
}

#gotomirror:hover {
    background-color: #800080;
    color: aqua;
}

#nextlevel {
    position: absolute;
    display: inline-block;
    z-index: 3;
    text-decoration: none;
    background-color: violet;
    color: black;
    border: 2px solid black;
    padding: 2px 4px;
    top: 230px;
    right: 671px;
}

#nextlevel:hover {
    background-color: #800080;
    color: aqua;
}
